<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>128712481285-u0og21fr81fke9odbb65a55cai50k0el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128712481285-u0og21fr81fke9odbb65a55cai50k0el</string>
	<key>API_KEY</key>
	<string>AIzaSyBRNsYkD3hhbyCNKNt99dPMLJwDFGo_mO0</string>
	<key>GCM_SENDER_ID</key>
	<string>128712481285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Specialist.Dev.AsambleaRum</string>
	<key>PROJECT_ID</key>
	<string>asamblearum</string>
	<key>STORAGE_BUCKET</key>
	<string>asamblearum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:128712481285:ios:a34c74fcb12d88e6</string>
	<key>DATABASE_URL</key>
	<string>https://asamblearum.firebaseio.com</string>
</dict>
</plist>